@media(max-width: 768px){
    /* Padding in footer */
    .p-32{
        padding: 70px;
    }

    .footerSocials{
        flex-direction: row;
    }

    .linkHeadList{
        justify-content: space-between;
    }
}

