.homeCard{
    border-radius: 10px;
    /* border: 2px solid var(--neonPink);  */
    border: 2px solid rgb(145, 145, 145);
    /* box-shadow: 0 0 10px var(--neonPink), 0 0 10px var(--neonPink), 0 0 10px var(--neonPink); */
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 30%;
    text-align: center;
}

/* Kandi Beads */
.coloredBead{
    min-width: 90px;
    min-height: 90px;
    border-radius: 20px;
}

.letterBead{
    font-size: 70px;
    border: 2px solid rgb(19, 19, 19);
    border-radius: 20px;
    font-weight: bold;
    min-width: 110px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

@media(max-width: 1280px){
    .featureIcon{
        font-size: 60px;
    }

}

@media(max-width: 768px){
    /* headings  */
    .text-6xl{
        font-size: 40px;
    }

    .caption{
        width: 100%;
        font-size: 18px;
    }

    .text-4xl{
        font-size: 30px;
    }
    
    .useCardContainer{
        flex-wrap: wrap;
    }

    .useCard{
        width: 100%;
    }
    
    .useCardIcon{
        font-size: 50px;
    }

    .featureBlockContainer{
        flex-wrap: wrap;
    }

    .featureBlockContainerTwo{
        flex-wrap: wrap-reverse;
    }

    .featureTextBlock{
        width: 100%;
    }
}
