@media(max-width: 1280px){
    .logoContainer{
        width: 150px;
    }

    .navLinks{
        font-size: 18px;
    }
}

@media(max-width: 768px){
    .logoContainer{
        width: 150px;
    }
}



